n8n/workflows_20251209_132751.json
[{"updatedAt":"2025-12-09T12:27:13.350Z","createdAt":"2025-11-28T13:38:03.488Z","id":"mnWXAtw4bT4DSx82","name":"Sistema_Consultas","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=\n{{ $json.body.message }}\n\n","hasOutputParser":true,"options":{"systemMessage":"Eres un agente especializado en Calidad y estas a cargo de armar procesos y procedimientos teniendo como guia la normativa ISO 9001\nIMPORTANTE: Formatea tus respuestas usando Markdown:\n\n# Para títulos principales\n## Para subtítulos\n### Para subsecciones\n\n- Para listas con viñetas\n1. Para listas numeradas\n\n**texto** para negrita\n*texto* para cursiva\n\\`código\\` para términos técnicos\n\n\\`\\`\\`javascript\n// Para bloques de código\nconst ejemplo = \"código aquí\";\n\\`\\`\\`\n\n> Para citas importantes\n\n---\n\nPara separadores\n\n| Columna 1 | Columna 2 |\n|-----------|-----------|\n| Dato 1    | Dato 2    |\n\nPara tablas\n\nEjemplo de respuesta bien formateada:\n\n# Gestión de Calidad ISO 9001\n\nPara implementar un sistema efectivo:\n\n## Pasos principales\n\n1. **Diagnóstico inicial**: Evalúa el estado actual\n2. **Planificación**: Define objetivos y recursos\n3. **Implementación**: Ejecuta los cambios\n\n## Herramientas recomendadas\n\n- Software de gestión documental\n- Plataformas de auditoría\n- Dashboards de KPIs\n\n\\`\\`\\`javascript\n// Ejemplo de automatización\nconst auditoria = await realizarAuditoria();\n\\`\\`\\`\n\n> **Nota**: La mejora continua es clave para el éxito."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[144,0],"id":"b305fb6f-f040-4fa5-a29c-51a1d87f7a16","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"responsesApiEnabled":false,"options":{"frequencyPenalty":0.5,"presencePenalty":0.5,"temperature":1,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[144,384],"id":"5e397149-5ee3-4ae5-9b46-464cd8410a11","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"e7T6PH2RquO1bL54","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"ever","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-80,0],"id":"399d13f6-0785-48bc-a86e-5a33796534a9","name":"Webhook","webhookId":"49dcb1fe-fc8f-4993-872c-11f9b1a3c275","alwaysOutputData":true},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[496,0],"id":"c610ca94-e22c-469a-99c4-d017d6ddd09d","name":"Respond to Webhook"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":"={{ 5 }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[192,224],"id":"53ba7b19-08dd-4823-b9d7-8403ecd98c3e","name":"Simple Memory"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"mnWXAtw4bT4DSx82","saveExecutionProgress":true,"timeSavedPerExecution":1},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ec9d3572-1983-418d-8b18-0f0a4c99d971","versionCounter":173,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-11-28T13:38:03.488Z","createdAt":"2025-11-28T13:38:03.488Z","role":"workflow:owner","workflowId":"mnWXAtw4bT4DSx82","projectId":"OUiPk2bcLxjJFsJ3","project":{"updatedAt":"2025-11-28T13:34:10.177Z","createdAt":"2025-11-28T13:11:57.132Z","id":"OUiPk2bcLxjJFsJ3","name":"pabl cabral <sistema@everwear.com.ar>","type":"personal","icon":null,"description":null}}]}]